.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;

}
.nav-list{
    display: flex;  
    list-style: none;
    font-size: 24px;
    /* gap: 10px; */
}
.nav-list > li{
    padding: 10px;
    margin: 10px;
}
.logo{
    width: 200px;
}

.res-card{
    padding: 5px;
    margin: 5px; 
   
    width :200px;
    height: 450px;
}
.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}
.search{
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
}
.res-logo{
    
    width: 100%;
    height: 280px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    width: 200px;
    height: 450px;
    margin: 5px;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.login{
    padding: 0 20px;
}
.filter{
    display: flex;
}